.navbar {
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 6px rgb(155, 155, 155);
}

.navbar_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90px;
  font-size: 18px;
  color: #4a4a4a;
}
